
table.entity tr,table.entity th {
	border: 1px solid #303030;
	background: none;
	box-shadow: none;
}

table.entity tr :first-child {
	position: static;
}

table.entity {
	width: auto;
	box-shadow: 0 0 2px 0px #000;
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 0.81) 0%,
		rgba(204, 204, 204, 0.98) 8%, rgba(204, 204, 204, 1) 9%,
		rgba(244, 244, 244, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 0.81) ), color-stop(8%, rgba(204, 204, 204, 0.98) ),
		color-stop(9%, rgba(204, 204, 204, 1) ),
		color-stop(100%, rgba(244, 244, 244, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.81) 0%,
		rgba(204, 204, 204, 0.98) 8%, rgba(204, 204, 204, 1) 9%,
		rgba(244, 244, 244, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238, 238, 238, 0.81) 0%,
		rgba(204, 204, 204, 0.98) 8%, rgba(204, 204, 204, 1) 9%,
		rgba(244, 244, 244, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 0.81) 0%,
		rgba(204, 204, 204, 0.98) 8%, rgba(204, 204, 204, 1) 9%,
		rgba(244, 244, 244, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(238, 238, 238, 0.81) 0%,
		rgba(204, 204, 204, 0.98) 8%, rgba(204, 204, 204, 1) 9%,
		rgba(244, 244, 244, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfeeeeee',
		endColorstr='#f4f4f4', GradientType=0 ); /* IE6-9 */
}

table.entity th {
	text-align: right;
	color: black;
	padding: 4px 6px 4px 6px;
}

table.entity tbody tr td {
	padding: 5px 8px 5px 6px;
	background: #ffffff;
	text-align: left;
}